# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

## Because it's a "TAB" separated value
chipo = pd.read_csv(url, sep="\t")

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1
len(chipo)

4622

In [5]:
# Solution 2
# whole info about the dataframe
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [6]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [7]:
for name in chipo.columns:
    print(name)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
most_ordered = chipo.groupby('item_name').sum()

# we can actually sort like SQL 'order by',
# and the ordering is respective to location in the array
# e,g. 
# quantity ascending is False
# order_id ascending is True

out = most_ordered.sort_values(['quantity', 'order_id'], ascending=[False, True])

out.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
out.head(1).quantity.sum()

761

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
most_ordered = chipo.groupby('choice_description').sum()
most_ordered

                                                    order_id  quantity
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...       214         1
[Adobo-Marinated and Grilled Chicken, [Sour Cre...       279         1
[Adobo-Marinated and Grilled Chicken]                    217         1
[Adobo-Marinated and Grilled Steak, [Sour Cream...       279         1
[Adobo-Marinated and Grilled Steak]                      217         1
...                                                      ...       ...
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      2576         2
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1215         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

In [12]:
sorted_most_ordered = most_ordered.sort_values('quantity', ascending=False)

sorted_most_ordered.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [13]:
chipo.quantity.sum()
# chipo.item_name

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [14]:
# dtype is to check the data type
# 'O' means object
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [21]:
to_dollar = lambda price: float(price[1:len(price)])
chipo.item_price = chipo.item_price.apply(to_dollar)

#### Step 13.c. Check the item price type

In [22]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [39]:
chipo.info()

print()

 v.sum()
print("${}".format(revenue))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

$39237.02

### Step 15. How many orders were made in the period?

In [53]:
# Just find the highest value of the order number
chipo.order_id.max()

1834

### Step 16. What is the average revenue amount per order?

In [71]:
# Solution 1
chipo['revenue']=(chipo.quantity*chipo.item_price)


orders_per_id = chipo.groupby(by='order_id').sum()
print(orders_per_id.mean())
print()
print(orders_per_id.mean().revenue)

quantity       2.711014
item_price    18.811429
revenue       21.394231
dtype: float64

21.394231188658654

In [74]:
# Solution 2 --- Oneliner
avg_revenue_per_order = chipo.groupby(by='order_id').sum().mean().revenue
print(avg_revenue_per_order)

21.394231188658654

### Step 17. How many different items are sold?

In [91]:
len(chipo.groupby('item_name'))

50